<?php

/*
 * Define settings for testing
 * You may wish to run a postgres database for testing through docker with:
 *
  docker run \
    --name postgres \
    -e POSTGRES_PASSWORD=myPassword \
    -e POSTGRES_USER=myUsername \
    -e POSTGRES_DB=myDbName \
    -p 5432:5432 \
    postgres
 *
 */


define('DB_HOST', '');
define('DB_USER', '');
define('DB_PASSWORD', '');
define('DB_NAME', '');
define('DB_PORT', 5432);

